#heart-icon {
    color: red;
    font-size: 25px;
}

#blue-heart-icon {
    color: #4343bf;
    font-size: 25px;
    padding-left: 15px;
}

/* Heal */
#add-hp-btn {
    border: 0;
    background-color: #f3c6c6;
    padding: 0;
}

#add-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#add-hp {
    padding-bottom: 15px;
    background-color: #e5abab;
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
}

#add-hp:hover {
    transform: scale(1.03, 1.03);
}


/* Damage */
#dmg-hp-btn {
    border: 0;
    background-color: #f3c6c6;
    padding: 8px 0 0 0;
}

#dmg-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#dmg-hp {
    padding-bottom: 15px;
    background-color: #e5abab;
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
}

#dmg-hp:hover {
    transform: scale(1.03, 1.03);
}


/* Temp health */
#temp-hp-btn {
    border: 0;
    background-color: #f3c6c6;
    padding: 8px 0 0 0;
}

#temp-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#temp-hp {
    padding-bottom: 15px;
    background-color: #e5abab;
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
}

#temp-hp:hover {
    transform: scale(1.03, 1.03);
}

/* Ability Scores */
.ability-score-box {
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    display: inline-block;
    border-radius: 15px;
}

.ability-score-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-1 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-2 {
        flex-direction: column;
    }
}
  