/* Ability Scores */
.ability-score-box {
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    display: inline-block;
    border-radius: 15px;
    min-width: 30px;
    text-align: center;
}

.ability-score-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-1 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-2 {
        flex-direction: column;
    }
}
  

/* Skills */
.skills-table {
    padding: 10px;
    border-radius: 15px;
}

.skill-type {
    font-size: .8rem;
    color: var(--text);
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table td {
    border-bottom: 1px solid black;
}

.table th {
    border-bottom: 2px solid black;
}

.skills-table .table {
    background-color: var(--primary);
    border: 2px solid black;
}

.skills-table tbody tr:nth-child(odd) {
    background-color: var(--primary-dark);
}

.skills-table tbody tr:hover {
    background-color: #f3c4c4;
}