#heart-icon {
    color: red;
    font-size: 25px;
}

#blue-heart-icon {
    color: var(--deep-blue);
    font-size: 25px;
}

/* Heal */
#add-hp-btn {
    border: 0;
    background-color: var(--card);
    padding: 0;
}

#add-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#add-hp {
    padding-bottom: 15px;
    background-color: var(--primary);
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
    color: var(--text);
}

#add-hp::placeholder {
    color: var(--text);
}

#add-hp:hover {
    transform: scale(1.03, 1.03);
}


/* Damage */
#dmg-hp-btn {
    border: 0;
    background-color: var(--card);
    padding: 8px 0 0 0;
}

#dmg-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#dmg-hp {
    padding-bottom: 15px;
    background-color: var(--primary);
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
    color: var(--text);
}

#dmg-hp::placeholder {
    color: var(--text);
}

#dmg-hp:hover {
    transform: scale(1.03, 1.03);
}


/* Temp health */
#temp-hp-btn {
    border: 0;
    background-color: var(--card);
    padding: 8px 0 0 0;
}

#temp-hp-icon:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#temp-hp {
    padding-bottom: 15px;
    background-color: var(--primary);
    border: 0;
    border-radius: 10px;
    padding-left: 6px;
    box-shadow: 0 6px 3px -2px rgba(0,0,0,0.301);
    transition: ease 0.2s;
    color: var(--text);
}

#temp-hp::placeholder {
    color: var(--text);
}

#temp-hp:hover {
    transform: scale(1.03, 1.03);
}

/* Ability Scores */
.ability-score-box {
    border: 1px solid black;
    padding: 10px 10px 0 10px;
    display: inline-block;
    border-radius: 15px;
    min-width: 30px;
    text-align: center;
}

.ability-score-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ability-scores-col-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-1 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .ability-scores-col-2 {
        flex-direction: column;
    }
}
  

/* Skills */
.skills-table {
    padding: 10px;
    border-radius: 15px;
}

.skill-type {
    font-size: .8rem;
    color: var(--text);
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table td {
    border-bottom: 1px solid black;
}

.table th {
    border-bottom: 2px solid black;
}

.skills-table .table {
    background-color: var(--primary);
    border: 2px solid black;
}

.skills-table tbody tr:nth-child(odd) {
    background-color: var(--primary-dark);
}

.skills-table tbody tr:hover {
    background-color: #f3c4c4;
}